/*      Home       */

.home-container{
  width: 100%;
  display: flex;
  justify-content: center;
  border: 3px solid green;
}

.container-main{
  width: 90%;
  border: 2px solid rgb(255, 81, 0);
  display: flex;
  flex-direction: row;
  margin: 3rem;
  align-items: center;
  justify-content: space-between;

}

.main-name{
  border: 3px solid red;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.main-social{
  border: 3px solid blue;
  width: 90%;
  font-size: 4.5rem;
  display: flex;
  justify-content: space-evenly;
  
}

.main-social i{
  transition-duration: 600ms;
  transition-timing-function: ease;

}

.main-social i:hover{
  transform: scale(1.4);
  color: rgb(255, 0, 98);
}




.blue{
  color:var(--color-linkedin);

}



.white{
  color: var(--bs-dark);
}




.main-content h1{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 75px;
  margin-bottom: 15px;
  color: var(--color-h1);
  line-height: 6rem;
}


.main-content p{
  font-family: 'Work Sans', sans-serif;
  color: var(--color-p);
  font-weight: 600;
  line-height: 1.4rem;
}

.main-image{
  border: 3px solid rgb(255, 230, 0);
  width: 55%;
  display: grid;
  align-items: end;
  grid-template-columns: 10% 75% 10%;
  justify-items: center;
  transition: all ease 1s;
}

.main-image:hover{
  transition: all ease 1s;
  transform: skewX(10deg);
}

.image{
  max-width: 75%;
  border: 3px solid rgb(85, 85, 85);
  background: #428bca;
  transform: skew(-10deg,0deg);
  border-radius: 0.5rem;
  transition: all ease 0.90s;
}

.image:hover{
  transition: all ease 0.90s;
  transform: skew(-10deg,0deg) scale(0.9);
}




@media screen and (max-width:600px) {

.container-main{
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;

}

.main-name{
  width: 100%;
}

.main-image{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 75% 1fr;
  transition: all ease 1s;
  margin-top: 2rem;
  align-items: center;
  justify-items: center;
 
}

.image{
  border-radius: 0.5rem;
  margin: 3rem;
}

}




/*Figures Home*/
.figure-1{
  width: 4.3rem;
  height: 20rem;
  border: 3px solid var(--bs-dark);
  background-image: url(https://media4.giphy.com/media/39lWTXEdmp4qnZtHIK/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: skew(-10deg, -7deg) translateX(2rem);
  border-radius: 0.5rem;
  transition: all ease 1s;
}

.figure-1:hover{
  background-size: 20rem;
  transition: all ease 1s;
  transform: skew(-10deg, -14deg) translateX(2rem) scale(1.3);
}


.figure-2{
  width: 4.3rem;
  height: 30rem;
  border: 3px solid var(--bs-dark);
  background-image: url(https://media4.giphy.com/media/39lWTXEdmp4qnZtHIK/giphy.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transform: skew(-10deg, -7deg) translateX(-3rem);
  border-radius: 0.5rem;
  transition: all ease 1s;
}
.figure-2:hover {
  transition: all ease 0.90s;
  transform: skew(-10deg, -15deg) translateX(-3rem) scale(1.1);
  background-size: 25rem;
}

@media screen and (max-width:600px) {

.figure-1{
  width: 3rem;
  height: 11rem;
  transform: skew(-10deg, -7deg) translateX(1rem) translateY(-3rem);
}



.figure-2{
  width: 3rem;
  height: 14rem;
  transform: skew(-10deg, -7deg) translateX(-1rem) translateY(3rem);
}
}



