/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Work+Sans&display=swap');

/*ROOTS*/
:root{
    --nav-color:whitesmoke;
    --bs-black: #000;
    --bs-white:whitesmoke;
    --bs-dark: #212529;
    --image-change:none;
    --nav-color:#dfdfdf ;
    --color-h1: #000000 ;
    --color-p:#dddddd;
    --color-linkedin: rgb(0, 64, 202) ;
    --figures-on-color: url("https://i.pinimg.com/736x/ed/db/58/eddb58199250e1ea5faaf9a867b7265b.jpg"); 
    --home-background-image: url("https://img.freepik.com/vector-premium/fondo-ancho-azul-claro-sala-estudio-pared-abstracta-puede-utilizar-presentar-su-producto-ilustracion-abstracta-fondos-pantalla-fondos-diapositivas-sitios-web_480270-86.jpg") ;
    --size-figures: cover ;
}


/*RESETS*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background:var(--bs-white);
  transition: .5s ease all;
}
body.dark{
  background: var(--bs-black);
  --nav-color:rgba(0, 0, 0, 0.829);
  --bs-white: rgb(8, 8, 8);
  --bs-dark: #ffffff;
  --image-change: contrast(95%) invert(90%);
  --nav-color: #3f105f;
  --color-h1:#ffffff;
  --color-p:#cacaca;
  --color-linkedin: rgb(32, 102, 253) ;
  --figures-on-color: url("https://media4.giphy.com/media/39lWTXEdmp4qnZtHIK/giphy.gif");
  --home-background-image: url("https://images8.alphacoders.com/890/890840.png") ;
  --size-figures: "25rem" ;

  
}


.App{
  height: 100vh;

}



/*Dark Theme*/

.switch{
  background: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;

}

.switch::after{
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #F1F1F1;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  transition: .3s ease all;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
}

.switch.active{
  background: rgb(216, 202, 0);
  color: #000;
}

.switch.active::after{
  right: 0;
  left: unset;
}


.switch span{
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color:#fff ;

}



/*Class*/









/*NAV BAR*/
.navbar{
  background: var(--nav-color);
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 999;
  padding-left: 0;
  padding-right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 1s;
}

.container{
  width: 85%;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}

.navImg{
  max-width: 280px;
  filter: var(--image-change);
  border-radius: 1rem;
  transition: .3s ease all;
}


.navContent{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navList{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  list-style: none;  
  padding-right: 1rem;

}

.navList li a{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: var(--bs-dark);
}

.navList li a:hover{
  transition: 0.5s;
  position: relative;
  font-size: 15.5px;
  font-weight: 600;
  color: rgb(255, 0, 0);
}


.navIcon{
  display: flex;
}

.btn-menu{
  position: absolute;
  right: 100%;

}


@media screen and (max-width:600px) {

.navImg{
  max-width: 175px;
}


.navContent{
  position: absolute;
  left: 0;
  top: 5rem;
  transition:1s ease all;
  
}

.navContent.hide{
  transition:1s ease all ;
  bottom: 5rem;
  top: -10rem;


}

.navList{
  flex-direction: column;
  background:var(--nav-color);
}
/*BTN*/

.switch span{
  width: 24px;
  height: 28px;
}

.switch::after{

  width: 27px;
  height: 27px;

}

.navIcon{
  display: flex;
  gap: 1rem;
}

.btn-menu{
  transition: 0.3s ease all ;
  position:unset;
  width: 2rem;
  font-size: 25px;
  background:var(--nav-color);
  border-style: none;
  color:var(--bs-dark);
}




}
